# OS
Thumbs.db
Desktop.ini
.DS_Store

# Obsidian
.obsidian/
.trash/

# Temp
*.tmp
*.bak
~$*

# Java / Maven
target/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/

# Node / Next.js
node_modules/
.next/
out/
*.log
.next-swc/

